* {
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-text-size-adjust: none;
}
.freehosting-2domains-link {
  display: none;
}
@font-face {
  font-display: swap;
  font-family: "Edo";
  src: url(/fonts/edo.woff2);
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  src: url(/fonts/OpenSans-Regular.woff2);
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-weight: 700;
  src: url(/fonts/OpenSans-Bold.woff2);
}
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: italic;
  src: url(/fonts/OpenSans-Italic.woff2);
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
}
@keyframes zoom-in {
  0% {
    transform: scale(0.5);
  }
}
